extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Renzo Regio

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.

          div.logo-container
            h3.icon-title Front End
            .container
              img(class="icon-img", src="https://cdn.iconscout.com/icon/free/png-256/html5-40-1175193.png")
              img(class="icon-lg", src="https://coryrylan.com/assets/images/posts/types/css.svg")
              img(class="icon-img", src="https://www.jing.fm/clipimg/full/158-1583739_computer-icons-logo-brand-javascript-angle-transparent-javascript.png")
            
            h3.icon-title Back End
            .container.center
              img(class="icon-lg",src="https://lh3.googleusercontent.com/proxy/eCMgHihJPRxwRanFmq9xVYws5U2NTpghUCQYWSrOlc1E9M-N7Yggp9f-eCuo6IPMxoYkkCWa_w8FfVq7Io2Ch6JGkNnUWXgzC4Wv2JMRQwNcd7rY8yFbh1RObAxpksHGG_14BybesY75_A")


            h3.icon-title Web Frameworks
            .container
              img(class="icon-img", src="https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_960_720.png")
              img(class="icon-img",src="https://seeklogo.com/images/T/tailwind-css-logo-5AD4175897-seeklogo.com.png")
              img(class="icon-img",src="https://uxwing.com/wp-content/themes/uxwing/download/10-brands-and-social-media/django.png")
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node.js
          li Tailwind CSS
          li Django
          li Python
          li Object Oriented Programming (OOP)
          li Document Object Model (DOM)
          li Regular Expressions
          li Public API Requests
          
        h6 Contact Info
        ul
          li (+63) 917 323 123
          li renzoregio@gmail.com

        a.button.expanded(href='#') LinkedIn
        a.button.expanded(href='https://github.com/RenzoRegio') GitHub
        a.button.expanded(href='#') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  